 @import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4833cf;
    color: white;    
}
.main-container{
    max-width: 1399px;
    margin: auto;

}
.navbar{
    border: 2px solid black;
    margin-top: 30px;
    background-color: white;
    margin-right:117px ;

    

    .container {
        display: $flex;
        background-color: white;

       
       
    }

    nav  {
        display: flex;
        align-items: center;
        // border: 2px solid green;
        margin-top: 15px;
        margin-left: 96px;

        span i{
            font-size: 18px;
            color: black;
        }
    }

    nav ul{
        display: flex;
        // align-items: center;
    }

    ul li {
        list-style-type: none;
        margin-right: 20px;
        padding: 10px;
        font-size: 20px;
        font-weight: 900px;
      

    }

   nav ul li a{
        display: flex;
        text-decoration: none;
        color: black;
        justify-content: space-between;
    
        a img{
        height: 50px;
        margin-left: 20px;
        display: $flex;
        vertical-align: center;
    }
   }
}

.hero-sec{
    border: 2px solid black;
    margin-top:10px;
    margin-left: 67px;
    display: flex;
    
    .text-sec h4{
        font-size: 60px;
        font-weight: normal;
        margin-bottom: 10px;
        margin-top: 50px;

    }
}
