@import "tailwindcss";

html {
    scroll-behavior: smooth;
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-in-up {
    animation: fade-in-up 1s ease-out forwards;
  }
  

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .animate-slide-in {
    animation: slide-in 1s ease-out;
  }
  

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
  }
  


  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* .typing-text {
    display: inline-block;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(20, end) infinite alternate;
  } */
  