.relative{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 20px;
    z-index: 1;
}
.absolute{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    top: 70px;
    left: 40px;
    z-index: 2;
}
.sticky{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    position: sticky;
    top: 10px;
}
.fixed{
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    position: fixed;
    bottom: 0;
}